* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

*,
* ::before
* ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header{
    background-color: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;    
}

.setting-gear{
    margin-right: auto;
    height: auto ;
    width: 20px;
}