[v-cloak]{
    display: none;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20%{
        transform: translateX(-4px);
    }
    40%{
        transform: translateX(3px);
    }
    60%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

.shake-animation{
    animation: shake 0.3s ease-out;
}

.pixel-art{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.player-hand-leave-active{
    position: absolute;
}

.player-hand-move{
transition: transform 0.5s ease;
}

.startButton-enter-active,
.endGame-enter-active{
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.startButton-enter-from,
.endGame-enter-from{
    opacity: 0;
    transform: scale(0.6);
}

.endGame-leave-active{
 transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.endGame-leave-to{
    opacity: 0;
    transform: scale(1.05);
}
